@charset 'utf-8';
/**********************************
        DEFAULTS
**********************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
body{
    min-height: 100vh;
    background-image: url("/img/hots_bg.jpg");
    background-color: #000;
    background-size:cover;
}

/**********************************
        LAYOUT
**********************************/
.page{
    transform: translateX(-200%);
    width: 100%;
    padding: 5rem 0 2rem 0;
    transition: transform 0.5s ease-out;
    position: absolute;
    top:0;
    left:0;
    right:0;
}
.page.active{
    transform: translateX(0);
}
.page header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.3rem;
    padding: 0 2rem;
    border-bottom: 0.2rem solid #111;
    background-image: url("/img/logo-heroes.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000; 
    color: #EEE;
}
.page header>h1{
    font-size: 1.4rem;
    height: 4rem;
    line-height: 4rem;
}
/**********************************
        LIST PAGE
**********************************/
.item-card{
    margin: 1rem 2rem;
    border: 1px solid #222;
    box-shadow: 2px 2px 2px #111;
    overflow: auto;
    background-color: #222;
}
.item-card img{
    float:left;
    margin-right: 1rem;
    padding: 0.5rem;
    width: auto;
    height: 8rem;
    border-right: 1px solid #333;
}
.item-title{
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2.4rem;
    padding-top: 1rem;
    padding-right: .5rem;
    color: #eee;
    cursor: pointer;
}
.item-title:hover{
    color: orange;
}
.item-desc{
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    color: #888;
    height: 1.5rem;
    text-overflow: clip;
    overflow: hidden;
}
/**********************************
        DETAILS PAGE
**********************************/
.back-btn{
    color: #fff;
    margin-right: 2rem;
}
.back-btn:hover{
    color: orange;
}
/**********************************
        ANIMATIONS
**********************************/
@media screen and (max-width: 640px){
    .page header>h1{
    font-size: 0.9rem;
    height: 4rem;
    line-height: 9.9rem;
    }
    .item-desc{
    font-size: 0.6rem;
}
@media screen and (max-width: 530px){
    .page header>h1{
    font-size: 0.9rem;
    height: 4rem;
    line-height: 9.9rem;
    }
    .item-desc{
    text-indent: -9999px
}
}

